.corpoFav {
  position: relative;
  height: 100vh;
  width: 200vh;
}
.main-area-fav{
    position: absolute;
    right: 3%;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.item{
    width: 20%;
    margin: 2%;
    height: 20%;
}
.jogo-fav{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}
.imagens{
    width: 100%;
}
.item > * {
    text-decoration: none;
    font-size: larger;
}